<div class='infoBox' ng-show='graphLoaded' ng-class='{"responsive-open": responsiveOpen}'>
  <a href='#' class='hide-info-box' ng-click='hideInfoBox($event)' href='#'>show graph</a>
  <div class='header'>
    <a ng-click='switchInfoMode("package", $event)' href='#'
      ng-class='{"selected": packageInfoVisible}'>package info</a>
    <a ng-click='switchInfoMode("graph", $event)' href='#'
      ng-class='{"selected": graphInfoVisible}'
      class='last'>graph info</a>
    <div class='clearfix'></div>
  </div>
  <hr class='divider'>
  <div class='packageInfo ng-cloak' ng-show='packageInfoVisible'>
    <div ng-show='selectedPackage.name'>
      <a ng-href='/#/view/2d/{{selectedPackage.name}}'>{{selectedPackage.name}}</a>
    </div>
  </div>
  <div class='graphInfo ng-cloak' ng-show='graphInfoVisible'>
    <div class='nodes'>
      <p># of nodes</p>
      <p class='number'>{{nodesCount}}</p>
    </div>
    <div class='links'>
      <p># of links</p>
      <p class='number'>{{linksCount}}</p>
    </div>
    <div class='clearfix'></div>
    <hr>
  
    <div class='all-licenses'>
      <h4>names</h4>
      <div class='license-container'>
        <a ng-repeat='name in allNames'
           class='license-row' href='#'
           ng-click='highlightNodes(name, $event)'
           ng-class='{selected: name.selected}'>
          <span>{{name.name}}</span>
          <span class='last'>{{name.count}}</span>
        </a>
      </div>
      <div class='clearfix'></div>
    </div>
  </div>
</div>
